.button {
  padding: 0.4em;
  border: none;
  background-color: #407ae5;
  color: white;
  border-radius: 0.3em;
  font-size: inherit;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  opacity: 0.9;
}

.button:disabled {
  opacity: 0.5;
  cursor: inherit;
}